/*body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  position: relative;
}*/
.icon {
  font-size: 50px;
  margin-bottom: 20px;
}
.name {
  font-size: 25px;
}
.github-icon {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  text-decoration: none;
  color: #333;
}

.github-icon:hover {
  color: #0366d6;
}


.repositories {
  padding:15px;
}

.repositories item {
  padding: 25px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  color: #000000;
}
